@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #fafafa;
}
html.dark{
  color-scheme: dark;
  background-color: #0f172a;
  color:#94a3b8;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f126;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html * {
  font-family: Tahoma, Helvetica, sans-serif;
}
html[dir="rtl"] *,
.ar-font {
  font-family: 'Almarai', sans-serif !important;
}

.overlay {
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 7%);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  height: calc(100dvh - 20px);
  top: 10px;
  margin: 0 10px;
}
.overlay:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
/* antd override  */
.ant-table-body {
  /* overflow: auto !important; */
}
.ant-table-container .ant-table-sticky-scroll {
  height: 0 !important;
}
.ant-popover .ant-popover-content {
  margin: 0 0.5rem;
}
html[dir="rtl"] :is(.ant-pagination-prev, .ant-pagination-next) {
  /* transform: rotate(180deg); */
}
.ant-popover .ant-popover-inner {
  padding: 0.25rem;
}
.ant-menu-item {
  transition: border-color 0.3s, background 0.3s,
    padding 0s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}
.ant-menu-title-content {
  transition: none !important;
}
/* fix table header dissapper when scrolled  */
.ant-table-header > table {
  visibility: visible !important;
}
/* badge ribbon to top  */
.ant-ribbon {
  top: -10px;
}
/* popconfirm margin  */
.ant-popconfirm-inner-content {
  margin: 10px;
}

/* landing page */

.mantine-Textarea-input {
  height: 100px;
}

#landing {
  font-family: "Cairo", sans-serif;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.mantine-Textarea-label,
.mantine-TextInput-label,
.mantine-TextInput-error,
.mantine-Textarea-error,
.mantine-TextInput-required,
.mantine-Textarea-required {
  color: white;
}

.reset {
  all: unset;
}

.ant-menu-item.ant-menu-item-selected{
  background-color: #4f46e5 !important;
    color: #fff !important;
    transition: none !important;

}
.ant-menu-item.ant-menu-item-selected > .icon-wraper{
  background-color: unset !important;
  transition: none !important;

}
/* .active-menu-item-inner{
  background-color: #3730a3 ;
  width: 100%;
  color: #fff;
  transition: none ;
  border-radius: 0.5rem
} */
/* 
.active-menu-item-inner:hover{
  color: #fff !important;
  background-color: #3730a3 !important1;
} */
.ant-menu-title-content{
  margin: 0 !important;
}
:is(.dark .dark\:text-\[burlywood\]) i {
  background-color: rgb(222 184 135) ;
}


.dark .react-international-phone-input-container .react-international-phone-input{
  color: #fff;
  border: 1px solid #292e3d;
  background-color: transparent;
}
.dark .react-international-phone-input-container .react-international-phone-country-selector-button {
  color: #fff;
  border: 1px solid #292e3d;
  background-color: transparent;
}
html[dir='rtl'] .react-international-phone-input-container  .react-international-phone-input{
  border-radius: var(--react-international-phone-border-radius, 4px);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  unicode-bidi:embed;
  direction: rtl;

}
html[dir='rtl']  .react-international-phone-input-container .react-international-phone-country-selector-button{
  border-radius: var(--react-international-phone-border-radius, 4px);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
html[dir='rtl'] .react-international-phone-country-selector-button__dropdown-arrow{
  margin-right: 0;
  margin-left: 4px;
}

.ant-upload-drag{
  margin-bottom: .5rem;
}